/* src/components/nav/Nav.css */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: rgb(87, 87, 86);
  color: white;
  text-align: center;
}

nav {
  background-color: #000000;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

li {
  margin-right: 20px;
  border: 2px solid white;
  padding: 5px 10px;
  border-radius: 5px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
